Repository m15a/config-nvim: changes, and which pre-commit hooks are due for each by the changed paths.
All: statix, deadnix, nixpkgs-fmt, markdownlint, vale

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: stylua
        name: Format Lua files
        entry: stylua
        language: system
        types:
          - lua
      - id: selene
        name: Lint Lua files
        entry: selene
        language: system
        types:
          - lua
      - id: statix
        name: Lint Nix files
        entry: statix check .
        pass_filenames: false
        language: system
        files: ^.*\.nix$
      - id: deadnix
        name: Scan Nix files for dead code
        entry: deadnix --fail --no-lambda-arg --no-lambda-pattern-names
        language: system
        files: ^.*\.nix$
      - id: nixpkgs-fmt
        name: Format Nix files
        entry: nixpkgs-fmt
        language: system
        files: ^.*\.nix$
      - id: markdownlint
        name: Lint Markdown files
        entry: markdownlint
        language: system
        types:
          - markdown
      - id: vale
        name: Lint prose writing
        entry: vale
        language: system
        types:
          - markdown

feat(autoclose): use it!
  README.md
  lua/my/plugins/autoclose.lua
  lua/my/plugins/init.lua
  lua/my/plugins/paq.lua
  nix/pkgs/my-neovim.nix
Due: statix, deadnix, nixpkgs-fmt, markdownlint, vale

feat(nvim-surround): replace vim-sandwich with it
  README.md
  lua/my/plugins/init.lua
  lua/my/plugins/paq.lua
  lua/my/plugins/sandwich.lua
  lua/my/plugins/surround.lua
  nix/pkgs/my-neovim.nix
Due: statix, deadnix, nixpkgs-fmt, markdownlint, vale

fix(treesitter): markdown support is not so good
  lua/my/plugins/treesitter.lua
Due: none

fix(lightspeed): replace it with clever-f
  README.md
  lua/my/plugins/clever-f.lua
  lua/my/plugins/init.lua
  lua/my/plugins/lightspeed.lua
  lua/my/plugins/paq.lua
  nix/pkgs/my-neovim.nix
Due: statix, deadnix, nixpkgs-fmt, markdownlint, vale

feat(spider): use it in place of wordmotion
  README.md
  lua/my/plugins/init.lua
  lua/my/plugins/paq.lua
  lua/my/plugins/spider.lua
  nix/pkgs/my-neovim.nix
Due: statix, deadnix, nixpkgs-fmt, markdownlint, vale

fix(visualstar): replace it with vim-asterisk
  README.md
  lua/my/plugins/paq.lua
  nix/pkgs/my-neovim.nix
Due: statix, deadnix, nixpkgs-fmt, markdownlint, vale

fix(BetterLua): drop it as tree-sitter and lsp are now good
  README.md
  lua/my/plugins/paq.lua
  nix/pkgs/my-neovim.nix
Due: statix, deadnix, nixpkgs-fmt, markdownlint, vale

fix(treesitter): use vim syntax for Nix
  lua/my/plugins/treesitter.lua
Due: none

fix(autoclose): tweak config
  lua/my/plugins/autoclose.lua
Due: none

fix(bats): I rarely use it recently
  README.md
  lua/my/plugins/paq.lua
  nix/pkgs/my-neovim.nix
Due: statix, deadnix, nixpkgs-fmt, markdownlint, vale

docs(readme): re-order plugins
  .vale/styles/config/vocabularies/User/accept.txt
  README.md
Due: markdownlint, vale

docs(readme): add missing vim-repeat
  README.md
Due: markdownlint, vale

docs(readme): add missing vim-unimpaired
  README.md
Due: markdownlint, vale

feat(substitute): use it!
  README.md
  lua/my/plugins/init.lua
  lua/my/plugins/paq.lua
  lua/my/plugins/substitute.lua
Due: markdownlint, vale

fix(bullets): update key binds
  README.md
  lua/my/plugins/bullets.lua
  lua/my/plugins/paq.lua
Due: markdownlint, vale

feat(various-textobjs): use it!
  README.md
  lua/my/plugins/init.lua
  lua/my/plugins/paq.lua
  lua/my/plugins/various-textobjs.lua
  nix/pkgs/my-neovim.nix
Due: statix, deadnix, nixpkgs-fmt, markdownlint, vale

feat(yanky): use it!
  README.md
  lua/my/plugins/init.lua
  lua/my/plugins/paq.lua
  lua/my/plugins/substitute.lua
  lua/my/plugins/yanky.lua
  nix/pkgs/my-neovim.nix
Due: statix, deadnix, nixpkgs-fmt, markdownlint, vale

feat(todo-comments): use it!
  README.md
  lua/my/plugins/init.lua
  lua/my/plugins/paq.lua
  lua/my/plugins/todo-comments.lua
  nix/pkgs/my-neovim.nix
Due: statix, deadnix, nixpkgs-fmt, markdownlint, vale

fix(pqf): update repo and tweak diagnostic signs
  README.md
  lua/my/assets.lua
  lua/my/plugins/feline.lua
  lua/my/plugins/lspconfig/init.lua
  lua/my/plugins/paq.lua
  lua/my/plugins/pqf.lua
Due: markdownlint, vale

feat(sentiment): use it!
  README.md
  lua/my/plugins/init.lua
  lua/my/plugins/paq.lua
  lua/my/plugins/sentiment.lua
  nix/pkgs/my-neovim.nix
Due: statix, deadnix, nixpkgs-fmt, markdownlint, vale

chore: sort plugins
  lua/my/plugins/init.lua
  lua/my/plugins/paq.lua
  nix/pkgs/my-neovim.nix
Due: statix, deadnix, nixpkgs-fmt

chore: sort plugins
  README.md
  nix/pkgs/my-neovim.nix
Due: statix, deadnix, nixpkgs-fmt, markdownlint, vale

feat(sort): use it!
  README.md
  lua/my/plugins/init.lua
  lua/my/plugins/paq.lua
  lua/my/plugins/sort.lua
  nix/pkgs/my-neovim.nix
Due: statix, deadnix, nixpkgs-fmt, markdownlint, vale

fix(lspconfig): tweak key binds using Telescope
  lua/my/options.lua
  lua/my/plugins/lspconfig/init.lua
Due: none

refactor(feline): modularize things
  lua/my/plugins/feline/colors.lua
  lua/my/plugins/feline/components.lua
  lua/my/plugins/feline/init.lua
  lua/my/plugins/feline/vi_mode_colors.lua
Due: none

feat(gitsigns): add mappings
  lua/my/plugins/gitsigns.lua
Due: none

fix(glow): change config
  lua/my/plugins/glow.lua
Due: none

fix(table-mode): update config
  lua/my/plugins/table-mode.lua
Due: none

fix(lspconfig,telescope): refactor key maps
  init.lua
  lua/my/keymap.lua
  lua/my/keymaps.lua
  lua/my/plugins/lspconfig/init.lua
  lua/my/plugins/telescope-bibtex.lua
  lua/my/plugins/telescope-heading.lua
  lua/my/plugins/telescope-symbols.lua
  lua/my/plugins/telescope.lua
  lua/my/plugins/todo-comments.lua
Due: none

refactor(telescope): align extensions
  lua/my/plugins/init.lua
  lua/my/plugins/telescope/bibtex.lua
  lua/my/plugins/telescope/heading.lua
  lua/my/plugins/telescope/init.lua
  lua/my/plugins/telescope/symbols.lua
Due: none

refactor(my.utils): obsolete augroup helper
  lua/my/filetypes.lua
  lua/my/plugins/srcerite.lua
  lua/my/utils/vimsl.lua
Due: none

refactor(treesitter): modularize things
  lua/my/plugins/treesitter/init.lua
  lua/my/plugins/treesitter/textobjects.lua
Due: none

fix(gfm-syntax): update autocmd
  lua/my/plugins/gfm-syntax.lua
Due: none

refactor(lspconfig,null-ls): modularize things
  lua/my/plugins/lspconfig/common.lua
  lua/my/plugins/lspconfig/init.lua
  lua/my/plugins/null-ls.lua
  lua/my/plugins/null-ls/init.lua
  lua/my/plugins/null-ls/utils.lua
Due: none

feat(config-local): use it!
  README.md
  lua/my/plugins/config-local.lua
  lua/my/plugins/init.lua
  lua/my/plugins/paq.lua
  nix/pkgs/my-neovim.nix
Due: statix, deadnix, nixpkgs-fmt, markdownlint, vale

feat(srcelite): renew it!
  README.md
  lua/my/plugins/feline/colors.lua
  lua/my/plugins/paq.lua
  lua/my/plugins/srcerite.lua
  nix/pkgs/my-neovim.nix
Due: statix, deadnix, nixpkgs-fmt, markdownlint, vale

fix(feline): tweak colors
  lua/my/plugins/feline/colors.lua
Due: none

chore: repo transfer to my another account
  README.md
  _assets/README
  lua/my/plugins/paq.lua
Due: markdownlint, vale

feat(lspconfig): use fennel language server
  lua/my/plugins/lspconfig/fennel_ls.lua
  lua/my/plugins/lspconfig/init.lua
Due: none
